In [1]:
import pandas as pd
import sqlalchemy
from upload import *
from glob import glob
import re

In [2]:
files = glob('../data/*.dat')
data = Data(files[0])

In [3]:
df = data.getDataFrame()

In [4]:
data.timestamp

datetime.datetime(2019, 3, 15, 13, 36, 43)

In [15]:
list(df.columns)

['X1_POWER_MGTVCCAUX_N        ',
 'X1_POWER_MGTAVTT_S          ',
 'X1_POWER_MGTAVCC_S          ',
 'X1_POWER_MGTAVCC_N          ',
 'X1_POWER_MGTAVTT_N          ',
 'X1_POWER_VCCAUX             ',
 'X1_POWER_+1.8V              ',
 'X1_POWER_+3.3V              ',
 'SERVICES+1.5V               ',
 'SERVICES+1.0V               ',
 'SERVICES+1.8V               ',
 'SERVICES+3.3V               ',
 '5V_SCALED                   ',
 'X1_POWER_VCCINT             ',
 'X1_POWER_MGTVCCAUC_S        ',
 'X1_POWER_+1.8V_ANALOGUE     ',
 'X0_POWER_MGTVCCAUC_N        ',
 'X0_POWER_+1.8V_ANALOGUE     ',
 'X0_POWER_MGTVCCAUC_S        ',
 'X0_POWER_VCCINT             ',
 'X0_POWER_+3.3V              ',
 'ARTIX_MGTAVTT               ',
 'ARTIX_MGTAVCC               ',
 'SERVICES_POWER_STANDBY_+3.3V',
 'Not Used                    ',
 '+12_SCALED                  ',
 'X0_POWER_+1.8V              ',
 'X0_POWER_VCCAUX             ',
 'X0_POWER_MGTAVTT_N          ',
 'X0_POWER_MGTAVCC_N          ',
 'X0_POWER_MGTAVCC_S          ',
 'X0_POWER_MGTAVTT_S          ']

In [6]:
data.uploadDataToDB('../data/db.sqlite')

2019-03-15 15:36:55,893 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-03-15 15:36:55,893 INFO sqlalchemy.engine.base.Engine ()
2019-03-15 15:36:55,894 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-03-15 15:36:55,894 INFO sqlalchemy.engine.base.Engine ()
2019-03-15 15:36:55,895 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("20190315133643")
2019-03-15 15:36:55,896 INFO sqlalchemy.engine.base.Engine ()
2019-03-15 15:36:55,898 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "20190315133643" (
	"index" BIGINT,
	"X1_POWER_MGTVCCAUX_N        " FLOAT,
	"X1_POWER_MGTAVTT_S          " FLOAT,
	"X1_POWER_MGTAVCC_S          " FLOAT,
	"X1_POWER_MGTAVCC_N          " FLOAT,
	"X1_POWER_MGTAVTT_N          " FLOAT,
	"X1_POWER_VCCAUX             " FLOAT,
	"X1_POWER_+1.8V              " FLOAT,
	"X1_POWER_+3.3V              " FLOAT,
	"SERVICES+1.5V               " FLOAT,
	"SERVICES+1.0V               " FLOAT,
	"SERVICES+1.8V               " FLOAT,
	"SERVICES+3.3V               " FLOAT,
	"5V_SCALED                   " FLOAT,
	"X1_POWER_VCCINT             " FLOAT,
	"X1_POWER_MGTVCCAUC_S        " FLOAT,
	"X1_POWER_+1.8V_ANALOGUE     " FLOAT,
	"X0_POWER_MGTVCCAUC_N        " FLOAT,
	"X0_POWER_+1.8V_ANALOGUE     " FLOAT,
	"X0_POWER_MGTVCCAUC_S        " FLOAT,
	"X0_POWER_VCCINT             " FLOAT,
	"X0_POWER_+3.3V              " FLOAT,
	"ARTIX_MGTAVTT               " FLOAT,
	"ARTIX_MGTAVCC               " FLOAT,
	"SERVICES_POWER_STANDBY_+3.3V" FLOAT,
	"Not Used                    " FLOAT,
	"+12_SCALED                  " FLOAT,
	"X0_POWER_+1.8V              " FLOAT,
	"X0_POWER_VCCAUX             " FLOAT,
	"X0_POWER_MGTAVTT_N          " FLOAT,
	"X0_POWER_MGTAVCC_N          " FLOAT,
	"X0_POWER_MGTAVCC_S          " FLOAT,
	"X0_POWER_MGTAVTT_S          " FLOAT
)


2019-03-15 15:36:55,898 INFO sqlalchemy.engine.base.Engine ()
2019-03-15 15:36:55,902 INFO sqlalchemy.engine.base.Engine COMMIT
2019-03-15 15:36:55,902 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_20190315133643_index ON "20190315133643" ("index")
2019-03-15 15:36:55,903 INFO sqlalchemy.engine.base.Engine ()
2019-03-15 15:36:55,906 INFO sqlalchemy.engine.base.Engine COMMIT
2019-03-15 15:36:55,908 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-03-15 15:36:55,910 INFO sqlalchemy.engine.base.Engine INSERT INTO "20190315133643" ("index", "X1_POWER_MGTVCCAUX_N        ", "X1_POWER_MGTAVTT_S          ", "X1_POWER_MGTAVCC_S          ", "X1_POWER_MGTAVCC_N          ", "X1_POWER_MGTAVTT_N          ", "X1_POWER_VCCAUX             ", "X1_POWER_+1.8V              ", "X1_POWER_+3.3V              ", "SERVICES+1.5V               ", "SERVICES+1.0V               ", "SERVICES+1.8V               ", "SERVICES+3.3V               ", "5V_SCALED                   ", "X1_POWER_VCCINT             ", "X1_POWER_MGTVCCAUC_S        ", "X1_POWER_+1.8V_ANALOGUE     ", "X0_POWER_MGTVCCAUC_N        ", "X0_POWER_+1.8V_ANALOGUE     ", "X0_POWER_MGTVCCAUC_S        ", "X0_POWER_VCCINT             ", "X0_POWER_+3.3V              ", "ARTIX_MGTAVTT               ", "ARTIX_MGTAVCC               ", "SERVICES_POWER_STANDBY_+3.3V", "Not Used                    ", "+12_SCALED                  ", "X0_POWER_+1.8V              ", "X0_POWER_VCCAUX             ", "X0_POWER_MGTAVTT_N          ", "X0_POWER_MGTAVCC_N          ", "X0_POWER_MGTAVCC_S          ", "X0_POWER_MGTAVTT_S          ") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2019-03-15 15:36:55,911 INFO sqlalchemy.engine.base.Engine ((0, 0.863938, 2.047938, 2.047938, 2.047938, 2.047938, 2.047938, 2.943938, 2.047938, 2.047938, 2.687938, 2.751938, 2.815938, 0.0, 0.223938, 2.815938, 2.047938, 3.071938, 3.071938, 2.943938, 3.071938, 2.047938, 2.943938, 2.943938, 2.047938, 3.839938, 0.0, 0.255938, 2.751938, 3.071938, 3.071938, 3.071938, 2.815938), (1, 1.535938, 2.815938, 2.783938, 2.751938, 2.559938, 2.815938, 3.071938, 2.047938, 2.047938, 3.071938, 3.071938, 3.071938, 0.0, 0.575938, 3.071938, 2.751938, 3.071938, 3.071938, 3.071938, 3.071938, 2.047938, 3.071938, 3.071938, 2.047938, 4.095938, 0.0, 0.703938, 3.071938, 3.071938, 3.071938, 3.071938, 3.071938), (2, 2.047938, 3.071938, 3.071938, 3.071938, 3.071938, 3.071938, 3.071938, 2.815938, 2.815938, 3.071938, 3.583938, 3.583938, 0.0, 1.407938, 3.583938, 3.071938, 3.583938, 3.583938, 3.583938, 3.583938, 2.815938, 3.583938, 3.583938, 2.815938, 4.095938, 0.0, 1.535938, 3.071938, 3.583938, 3.583938, 3.583938, 3.583938), (3, 2.943938, 3.071938, 3.583938, 3.583938, 3.071938, 3.071938, 3.583938, 3.071938, 3.071938, 3.583938, 3.583938, 3.839938, 0.0, 2.047938, 3.583938, 3.071938, 3.839938, 3.839938, 3.839938, 3.839938, 3.071938, 3.839938, 3.839938, 3.071938, 4.095938, 0.0, 2.047938, 3.583938, 3.839938, 3.839938, 3.839938, 3.839938), (4, 3.071938, 3.583938, 3.583938, 3.583938, 3.583938, 3.583938, 3.583938, 3.071938, 3.071938, 3.839938, 3.839938, 3.967938, 0.0, 2.559938, 3.839938, 3.583938, 4.095938, 3.967938, 4.095938, 4.095938, 3.071938, 4.095938, 4.095938, 3.071938, 4.095938, 0.0, 2.559938, 3.839938, 4.095938, 4.095938, 4.095938, 4.095938), (5, 3.583938, 3.583938, 3.583938, 3.583938, 3.583938, 3.583938, 3.839938, 3.583938, 3.583938, 3.839938, 4.095938, 4.095938, 0.0, 3.071938, 4.095938, 3.839938, 4.095938, 4.095938, 4.095938, 4.095938, 3.583938, 4.095938, 4.095938, 3.583938, 4.095938, 0.0, 3.071938, 4.095938, 4.095938, 4.095938, 4.095938, 4.095938), (6, 3.583938, 3.583938, 3.583938, 3.583938, 3.583938, 3.839938, 3.839938, 3.583938, 3.583938, 3.967938, 4.095938, 4.095938, 0.0, 3.071938, 4.095938, 3.967938, 4.095938, 4.095938, 4.095938, 4.095938, 3.839938, 4.095938, 4.095938, 3.839938, 4.095938, 0.0, 3.071938, 4.095938, 4.095938, 4.095938, 4.095938, 4.095938), (7, 3.583938, 3.583938, 3.583938, 3.839938, 3.839938, 3.839938, 3.839938, 3.839938, 3.839938, 4.095938, 4.095938, 4.095938, 0.0, 3.583938, 4.095938, 4.095938, 4.095938, 4.095938, 4.095938, 4.095938, 4.063938, 4.095938, 4.095938, 4.063938, 4.095938, 0.0, 3.583938, 4.095938, 4.095938, 4.095938, 4.095938, 4.095938))
2019-03-15 15:36:55,912 INFO sqlalchemy.engine.base.Engine COMMIT

In [7]:
engine = sqlalchemy.create_engine('sqlite:///../data/db.sqlite', echo=True)

In [8]:
tables = engine.table_names()
tables

2019-03-15 15:36:55,926 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-03-15 15:36:55,927 INFO sqlalchemy.engine.base.Engine ()
2019-03-15 15:36:55,927 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-03-15 15:36:55,928 INFO sqlalchemy.engine.base.Engine ()
2019-03-15 15:36:55,929 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-03-15 15:36:55,929 INFO sqlalchemy.engine.base.Engine ()

['20190315133643']

In [9]:
engine.execute("SELECT * FROM '20190315133643'").fetchall()

2019-03-15 15:36:55,935 INFO sqlalchemy.engine.base.Engine SELECT * FROM '20190315133643'
2019-03-15 15:36:55,935 INFO sqlalchemy.engine.base.Engine ()

[(0, 0.863938, 2.047938, 2.047938, 2.047938, 2.047938, 2.047938, 2.943938, 2.047938, 2.047938, 2.687938, 2.751938, 2.815938, 0.0, 0.223938, 2.815938, 2.047938, 3.071938, 3.071938, 2.943938, 3.071938, 2.047938, 2.943938, 2.943938, 2.047938, 3.839938, 0.0, 0.255938, 2.751938, 3.071938, 3.071938, 3.071938, 2.815938),
 (1, 1.535938, 2.815938, 2.783938, 2.751938, 2.559938, 2.815938, 3.071938, 2.047938, 2.047938, 3.071938, 3.071938, 3.071938, 0.0, 0.575938, 3.071938, 2.751938, 3.071938, 3.071938, 3.071938, 3.071938, 2.047938, 3.071938, 3.071938, 2.047938, 4.095938, 0.0, 0.703938, 3.071938, 3.071938, 3.071938, 3.071938, 3.071938),
 (2, 2.047938, 3.071938, 3.071938, 3.071938, 3.071938, 3.071938, 3.071938, 2.815938, 2.815938, 3.071938, 3.583938, 3.583938, 0.0, 1.407938, 3.583938, 3.071938, 3.583938, 3.583938, 3.583938, 3.583938, 2.815938, 3.583938, 3.583938, 2.815938, 4.095938, 0.0, 1.535938, 3.071938, 3.583938, 3.583938, 3.583938, 3.583938),
 (3, 2.943938, 3.071938, 3.583938, 3.583938, 3.071938, 3.071938, 3.583938, 3.071938, 3.071938, 3.583938, 3.583938, 3.839938, 0.0, 2.047938, 3.583938, 3.071938, 3.839938, 3.839938, 3.839938, 3.839938, 3.071938, 3.839938, 3.839938, 3.071938, 4.095938, 0.0, 2.047938, 3.583938, 3.839938, 3.839938, 3.839938, 3.839938),
 (4, 3.071938, 3.583938, 3.583938, 3.583938, 3.583938, 3.583938, 3.583938, 3.071938, 3.071938, 3.839938, 3.839938, 3.967938, 0.0, 2.559938, 3.839938, 3.583938, 4.095938, 3.967938, 4.095938, 4.095938, 3.071938, 4.095938, 4.095938, 3.071938, 4.095938, 0.0, 2.559938, 3.839938, 4.095938, 4.095938, 4.095938, 4.095938),
 (5, 3.583938, 3.583938, 3.583938, 3.583938, 3.583938, 3.583938, 3.839938, 3.583938, 3.583938, 3.839938, 4.095938, 4.095938, 0.0, 3.071938, 4.095938, 3.839938, 4.095938, 4.095938, 4.095938, 4.095938, 3.583938, 4.095938, 4.095938, 3.583938, 4.095938, 0.0, 3.071938, 4.095938, 4.095938, 4.095938, 4.095938, 4.095938),
 (6, 3.583938, 3.583938, 3.583938, 3.583938, 3.583938, 3.839938, 3.839938, 3.583938, 3.583938, 3.967938, 4.095938, 4.095938, 0.0, 3.071938, 4.095938, 3.967938, 4.095938, 4.095938, 4.095938, 4.095938, 3.839938, 4.095938, 4.095938, 3.839938, 4.095938, 0.0, 3.071938, 4.095938, 4.095938, 4.095938, 4.095938, 4.095938),
 (7, 3.583938, 3.583938, 3.583938, 3.839938, 3.839938, 3.839938, 3.839938, 3.839938, 3.839938, 4.095938, 4.095938, 4.095938, 0.0, 3.583938, 4.095938, 4.095938, 4.095938, 4.095938, 4.095938, 4.095938, 4.063938, 4.095938, 4.095938, 4.063938, 4.095938, 0.0, 3.583938, 4.095938, 4.095938, 4.095938, 4.095938, 4.095938)]

In [12]:
engine.execute("DROP TABLE IF EXISTS 'users'")

2019-03-15 15:37:20,128 INFO sqlalchemy.engine.base.Engine DROP TABLE IF EXISTS 'users'
2019-03-15 15:37:20,129 INFO sqlalchemy.engine.base.Engine ()
2019-03-15 15:37:20,130 INFO sqlalchemy.engine.base.Engine COMMIT

In [17]:
pd.DataFrame([[0,1,2,3]], columns=['a', 'b', 'c', 'd'])

   a  b  c  d
0  0  1  2  3